.root {
    --aqua-blue: #15C7F4;   /*Title blue*/
    --aqua-green: #22C3C3; /*Second title color*/
    --squid-blue: #3D4586; /*Icon blue*/
    --nav-text: #5D687B; /*Nav Bar text*/
    --light-text: #94A3B8; /*Content text*/
    --dark-blue: #0F153B; /*Background*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0F153D;
}

nav {
    background-color: rgba(0, 7, 25, 0.922);
    position: fixed;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 3.9em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav img {
    height: 2.3em;
}

#icon-text {
    color: #3D4586;
    font-size: 1.2em;
    font-weight: bold;
    cursor: default;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    margin-left: 2em;
    gap: 0.6em;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 50%;
    margin-right: 2em;
}

.nav-text a {
    color: #5D687B;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
}

.nav-text a:hover {
    color: #ffffff;
    transition: 0.3s;
}